<div class="flex fixed bottom-0 left-0 w-full bg-neutral-800 h-15 text-white justify-around px-10 items-center md:top-0" >
    <div>
        <%= link_to workouts_path do %>    
            Workouts
        <% end%>
    </div>
    <div>
        <%= link_to exercises_path do %>    
            Exercises
        <% end%>
    </div>
</div>
